# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
censusdata=1.8=pypi_0
cufflinks-py=0.17.3=py_0
geopandas=0.6.1=py_0
json-c=0.13.1=h3efe00b_0
numpy=1.19.1=py38h3b9f5b6_0
pandas=1.1.0=pypi_0
plotly=4.14.0=pyhd3eb1b0_0
python=3.8.2=hfe9666f_0
yaml=0.2.5=haf1e3a3_0

